---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel";
const images = [
  "https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg?auto=compress&cs=tinysrgb&w=600",
  "https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  "https://images.pexels.com/photos/773471/pexels-photo-773471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  "https://images.pexels.com/photos/672532/pexels-photo-672532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  "https://images.pexels.com/photos/632522/pexels-photo-632522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  "https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
];
---

<Layout title="Omaar Al-Aardh">
  <main class="lg:grid lg:gap-y-12 lg:grid-cols-[repeat(auto-fill, 1fr)]">
    <section
      class="hero bg-neutral min-h-screen rounded-lg text-secondary shadow-lg border"
      style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);"
    >
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-primary">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
            excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
            a id nisi.
          </p>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>
    </section>

    <section
      class="prose max-lg:text-sm bg-accent text-primary-content min-w-full min-h-screen flex flex-col justify-center px-8 shadow-lg border"
    >
      <p>&nbsp;</p>

      <h1>Our mission, our goals, our mandate</h1>

      <p>
        Converting designs and working drawings into reality is the main
        critical task of building the land for which we bear responsibility. To
        be implemented based on the previous experiences and acquired knowledge
        of our engineers, Omaar Al-Aardh is an engineering and contracting
        company that has implemented many projects since its establishment in
        2018.
      </p>
      <p>
        Every task that Omaar Al-Aardh took responsibility for was implemented
        through the hard work and dedication of our team members. Having all the
        necessary resources is a critical factor to successfully achieve any
        project. However, the factor that guides us to outstanding results is
        the optimal management of these resources.
      </p>
      <p>
        Omaar Al-Aardh represents the workforce that provides professional
        services in the field of engineering and contracting, especially in the
        field of infrastructure, whatever the work required. We carry out the
        work in accordance with the specifications of the codes and the project.
        We also carry out the project
      </p>
    </section>
    <!-- class="bg-accent text-primary-content min-w-full min-h-screen flex flex-col justify-center px-8" -->
    <section
      class="prose col-span-2 min-w-full max-h-screen min-h-screen bg-primary flex flex-col border rounded-lg rounded-b-box rounded-tr-box"
    >
      <h1 class="mx-12 my-8">Some of our work</h1>
      <div id="" class="flex-1 flex flex-col overflow-clip">
        <Carousel images={images} client:load />
      </div>
    </section>
  </main>
</Layout>
<style is:global>
  .carousel-indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .dot {
    background-color: #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .active {
    background-color: #fa2020;
  }
</style>
